<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()"
>
    <ion-list>
      <ion-item *ngFor="let verse of itemList; let i=index">
        <ion-label>
          <p class="ion-text-wrap">
            <b>{{verse.c}}:{{verse.v}}.</b> {{verse.t}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
